*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.top{
    height: 100vh;
    width: 100%;
    background-color: #64718d;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
nav ul li{
    list-style: none;
    display: inline-flex;
    margin: 20px 0px;
    padding: 15px 25px;
}
nav ul li a{
    color: #cde5df;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #3a3055;
    transition: .4s;
}
.intro{
  display: flex;
  flex-direction: column;
  height: 620px;
  justify-content: center;
  align-items: center;
}
h1{
    color: #3a3055;
    margin: 25px 0px 25px;
    font-size: 80px;
}
h2{
    color: #87c7c1;
    letter-spacing: 2px;
    font-size: 50px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: #3a3055;
    padding: 100px 0px;
}
.about img{
    height: auto;
    width: 530px;
    max-width: 100%;
    border-radius: 5px;
}
.about-text{
    width: 500px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 1;
}
.about-text h5{
    color: #c9d290;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.7;
    font-weight: 600;
}
.about-text p{
    color: #cde5df;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}